* {
  margin: 0;
  padding: 0;
}

nav {
  background: #ccc;
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  left: 0;
  right: 0;
  top: 0;
  padding: 2.5% 0;
}

nav a {
  text-decoration: none;
  color: black;
  font: 20px "Futura PT", sans-serif;
}

nav a:hover {
  color: orange;
  font: 28px "Futura PT", sans-serif;
}

main {
  margin: 10% auto;
  padding: 5%;
  font: 16px "Futura PT", sans-serif;
}

main p {
  display: inline;
}

main span {
  color: orange;
}

main h3 {
  display: inline;
  color: red;
}

main img {
  position: relative;
}

#overlay {
  position: absolute;
  left: 5%;
  max-width: 400px;
}

#animatethis {
  width: 400px;
  height: 400px;
  border-radius: 5%;
  border: 1px solid black;
  float: right;
  animation: colorChange 5s infinite;
}

@keyframes colorChange {
  0% {
    background-color: black;
  }
  25% {
    background-color: orange;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: orange;
  }
  100% {
    background-color: black;
  }
}
